.tc-carousel {
  position: relative;
  padding-bottom: 20px;
  width: 620px;
}

.tc-hero-reel article {
  width: 620px;
}
.tc-hero-reel img {
  margin-bottom: 12px;
}
.tc-hero-reel h1 {
  font-size: 30px;
  line-height: 1.2;
  position: static;
  bottom: 0;
  padding: 0;
  box-sizing: content-box;
  background: transparent;
  color: $colorLink;
}
.tc-tab {
  width: 150px;
  padding: 0;
  margin-left: 6px;
  height: auto;
}
.tc-tab:first-child {
  margin-left: 0;
}