.touch-item {
  width: 620px;
}
.touch-carousel {
  position: relative;
  padding-bottom: 20px;
}
.touch-carousel {
  width: 620px;
}
.touch-reel article {
  width: 620px;
}
.touch-reel article img {
  margin-bottom: 12px;
}
.touch-reel article .h1 {
  font-size: 30px;
  line-height: 1.2;
  position: static;
  bottom: 0;
  padding: 0;
  box-sizing: content-box;
  background: transparent;
  color: $colorLink;
}
.touch-reel article .meta {
  margin-top: 12px;
}
.touch-reel article .meta a {
  display: inline;
}
.touch-tab {
  width: 150px;
  padding: 0;
  margin-left: 6px;
  height: auto;
}
.touch-tab:first-child {
  margin-left: 0;
}