/*

  - TouchCarousel
  - Nick Price
  - Last edited: 01/08/13

*/

.tc-root {
  overflow: hidden;
  max-width: 900px;
}
.tc-hero-wrapper {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.tc-hero-reel {
  margin-left: 0;
}
  .tc-hero-pause-icon {
    font-weight: bold;
    height: 36px;
    font-size: 50px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    color: white;
    right: 10px;
    top: 5px;
    font-weight: bold;
    display: none;
  }
  .tc-hero-item {
    position: relative;
    float: left;
    display: block;
  }
    .tc-hero-item img {
      width: auto;
      height: auto;
      max-width: 100%;
    }

.tc-tabs {
  clear: both;
  float: left;
  width: 10000%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
  .tc-tab {
    float: left;
    opacity: 0.5;
    padding: 0;
    margin: 0;
    width: 25%;
    height: auto;
    list-style: none;
  }
    .tc-tab:hover {
      opacity: 0.65;
    }
    .tc-tab.active {
      opacity: 1;
    }
    .tc-tab img {
      width: auto;
      max-width: 100%;
    }

.reel-timer {
  width: 100%;
  background: #aaa;
  height: 3px;
  margin-bottom: 1px;
  visibility: hidden;
  position: relative;
}
  .tc-tab.active .reel-timer {
    visibility: visible;
  }
  .reel-timer:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 5px 6px;
    border-color: transparent;
    border-color-bottom: #aaa;
  }
  .reel-timer .reel-timer-overlay {
    position: absolute;
    width: 0;
    height: 3px;
    background: #444;
  }
    .reel-timer .reel-timer-overlay.animating {
      width: 100% !important;
      transition: width 4s linear;
    }
    .reel-timer .reel-timer-overlay.full {
      transition: none;
      width: 0% !important;
    }