.col2.col-first.b1-col4.b1-col-first.hero-carousel.js-hero-carousel
  // Hero item
  .hero-item.js-hero-item
    .hero-reel.js-hero-reel

  // Sub-hero articles
  .hero-sub
    .article.col1.col-first.hero-thumb
      a(href='#')
        img(src='http://img.clock.co.uk/150x84', alt='Image Description', width='150', height='84', data-hero-url='http://img.clock.co.uk/620x373?text=Hero 1 (620x373)&color=118e00&textColor=fff')
        h3.h4.article-title.hidden.b1-not-hidden Lorem ipsum dolor sit amet, cons ectetur adipiscing.
      .meta.hidden.b1-not-hidden
        include comment-link
        span.date-published Weds 8 August 2012. Last updated: 1.16AM

    .article.col1.hero-thumb
      a(href='#')
        img(src='http://img.clock.co.uk/150x84', alt='Image Description', width='150', height='84', data-hero-url='http://img.clock.co.uk/620x373?text=Hero 2 (620x373)&color=0054a6&textColor=fff')
        h3.h4.article-title.hidden.b1-not-hidden Kristen Stewart moves back in with Robert Pattinson Kristen Stewart moves back in with Robert Pattinson Kristen Stewart moves back in with Robert Pattinson Kristen Stewart moves back in with Robert Pattinson Kristen Stewart moves back in with Robert Pattinson
      .meta.hidden.b1-not-hidden
        include comment-link
        span.date-published Thurs 4 August 2012. Last updated: 3.16PM

    .article.col1.hero-thumb
      a(href='#')
        img(src='http://img.clock.co.uk/150x84', alt='Image Description', width='150', height='84', data-hero-url='http://img.clock.co.uk/620x373?text=Hero 3 (620x373)&color=cd138b&textColor=fff')
        h3.h4.article-title.hidden.b1-not-hidden Sed sed egestas justo
      .meta.hidden.b1-not-hidden
        include comment-link
        span.date-published Fri 9 August 2012. Last updated: 5.18AM

    .article.col1.hero-thumb
      a(href='#')
        img(src='http://img.clock.co.uk/150x84', alt='Image Description', width='150', height='84', data-hero-url='http://img.clock.co.uk/620x373?text=Hero 4 (620x373)&color=f7941d&textColor=fff')
        h3.h4.article-title.hidden.b1-not-hidden Saliquam sed facilisis leo nec egestas massa.
      .meta.hidden.b1-not-hidden
        include comment-link
        span.date-published Mon 1 August 2012. Last updated: 11.20PM