// jQuery doesn't pick up width() without being valued
.hero-item
  width 620px

//http://stackoverflow.com/a/14746968/639579
.hero-carousel
  position relative
  padding-bottom 20px



.hero-carousel
  width 620px
.hero-reel
  .article
    width 620px
    img
      margin-bottom 12px
    .h1
      font-size 30px
      line-height 1.2
      position static
      bottom 0
      padding 0
      box-sizing content-box
      background transparent
      color $colorLink
    .meta
      margin-top 12px
      a
        display inline
.hero-thumb
  width 150px
  padding 0
  margin-left 6px
  height auto
  &:first-child
    margin-left 0